@import '../../../../public/sass/config/_variables.scss';
.paddingRight5{
    padding-right: 5px;
}    
.btnPrimary{
    background-color: #DF1F29;
    color: #fff;
}
.textPhoneList{
    color: #239CD7 !important;
}
.textPhone{
    color: #A7171F;
}
.btnAddPhone{
    background-color: #fff;
    border-color: #239CD7;
    color: #239CD7;
}