/* -------------------------------------------
	Variables 
------------------------------------------- */

// 1. Colors
$primary-color: #df1f29 !default;
$primary-color-dark: #a7171f !default;
$alert-color: #b10001 !default;
$success-color: #52c41a !default;
$body-color: #666 !default;
$dark-color: #222 !default;
$light-color: #ccc !default;
$grey-color: #999 !default;
$border-color: #e1e1e1 !default;
$border-color-light: #eee !default;
$white-color: #fff !default;

// 2. New Defined Colors
$primary-color-light: #ef8f94;
$secondary-color: #239cd7;
$secondary-color-dark: #1a75a1;
$secondary-color-light: #91ceeb;
$success-color-light: #f6ffed;
$info-color: #1890ff;
$info-color-light: #e6f7ff;
$warning-color: #faad14;
$warning-color-light: #fffbe6;
$error-color: #ff4d4f;
$error-color-light: #fff1f0;

// 3. Font-families
$alt-font-family: sans-serif !default;
$second-font-family: 'Kanit', $alt-font-family !default;
$font-family: 'Kanit', $alt-font-family !default;
$third-font-family: 'Kanit', $alt-font-family !default;

// 4. Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xlst: 1920px
);
$max-breakpoints: (
  xs: 479px,
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
  xxl: 1599px
);

// 5. Link Colors
$social-facebook: #3b5998;
$social-twitter: #1da1f2;
$social-linkedin: #0073b2;
$social-email: #dd4b39;
$social-google: #dd4b39;
$social-pinterest: #bd081c;
$social-reddit: #ff4107;
$social-tumblr: #304e6c;
$social-vk: #6383a8;
$social-whatsapp: #3c8a38;
$social-xing: #1a7576;
$social-instagram: #7c4a3a;
$social-paypal: #1a7576;

// custom color
$text-black: #212121;
$text-grey: #a1a1a1;
