@import '../../public/sass/config/_variables.scss';

.link {
  text-decoration: underline !important;
  color: $secondary-color !important;

  &:hover,
  &:focus {
    color: $secondary-color-dark !important;
  }
}

.space {
  width: 100%;
  justify-content: center;
}
