@import '../../public/sass/config/_variables.scss';

.cSecondary {
  color: $secondary-color !important;
}

.imgContainer {
  width: 100%;
  padding-top: 150%;
  position: relative;

  .imgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
