@import '../../../../public/sass/config/_variables.scss';

.radio {
  display: flex;

  label {
    flex: 1 50%;
    max-width: 50%;
  }

  @media (min-width: 576px) {
    justify-content: space-around;

    label {
      flex: 1 1 auto;
      max-width: none;
    }
  }
}
