@import '../../../public/sass/config/_variables.scss';

.cInfo {
  color: $info-color !important;
}

.label {
  display: flex;
  padding-bottom: 8px;

  .left {
    display: flex;
    flex: 1 50%;

    .required {
      margin-right: 4px;
      color: $primary-color;
    }
  }

  .right {
    flex: 1 50%;
    text-align: right;
  }
}
