@import '../../../../public/sass/config/_variables.scss';

.space {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;

  @media (max-width: 575px) {
    div:nth-child(1) {
      flex: 1 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}

.cSecondary {
  color: $secondary-color;
}
