@import '../../../../public/sass/config/variables';

.layout {
  border-radius: 0.571rem;
  padding: 0.571rem;
  box-sizing: border-box;
  background-color: $background-light;

  .contentLayout {
    margin-left: 1.43spx;
  }

  .actionLayout {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;

    .clickable {
      cursor: pointer;
    }
    .actionIcon {
      min-width: 40px;
    }
  }
}
