@import '../../public/sass/config/variables';

.textSecondary {
  color: $secondary-color !important;
}

.point {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.h1 {
  line-height: 1 !important;
  margin-bottom: 0 !important;
}

.h4 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.space {
  margin: 0 0.5rem;
}
