@import '../../../../public/sass/config/_variables.scss';

.cInfo {
  color: $info-color;
}

.label {
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  .required {
    margin-right: 4px;
    margin-bottom: -2.5px;
    color: $primary-color;
  }
}

.edit {
  color: $secondary-color;
  cursor: pointer;
}

.title {
  color: $secondary-color !important;
  margin-bottom: 0 !important;
}

.searchWrapper {
  padding: 16px;
  margin: 2rem auto;
  background-color: $background-light;
}

.subLabel {
  color: $secondary-color !important;
  margin-bottom: 0 !important;
}

.action {
  color: $info-color;
  cursor: pointer;
}
