@import '../../../public/sass/config/variables';
@import '../../../public/sass/mixins/core';
@import '../../../public/sass/mixins/breakpoints';

.contentLayout {
  margin-bottom: 1.5rem;

  .balanceLabel {
    font-size: 12px;
    font-weight: 400;
    color: $text-black;
  }

  .balanceValue {
    font-size: 16px;
    font-weight: 600;
    color: $text-black;
  }

  .sectionTitle {
    margin-bottom: 0 !important;
    color: #239cd7 !important;
    text-align: left;
  }

  .divider {
    margin: 1rem 0;

    @include mq('xs', 'max') {
      margin: 2rem 0;
    }
  }
}
