@import '../../../public/sass/config/variables';

.contentLayout {
  .balanceLabel {
    font-size: 12px;
    font-weight: 400;
    color: $text-black;
  }

  .balanceValue {
    font-size: 16px;
    font-weight: 600;
    color: $text-black;
  }

  .sectionTitle {
    margin-bottom: 1.5rem !important;
    color: #239cd7 !important;
    text-align: left;
  }
}

.howToLayout {
  div:first-of-type {
    padding: 0;
  }
  .howToTitle {
    font-weight: 600;
  }

  li.howToItem {
    list-style-type: disc !important;
    padding: 4px 8px;
    margin-left: 20px;
  }
}

.topUpAmountSelectLayout {
  max-width: 330px;
  flex: 1;
}
