@import '../../../../public/sass/config/_variables.scss';

.layout {
  max-width: 316px;
  > * {
    box-sizing: border-box;
  }

  .image {
    min-width: 56px;
  }

  .name {
    color: $text-black;
    max-width: 140px;
  }

  .option {
    max-width: 88px;
    text-align: left;
    vertical-align: top;
    * {
      color: $text-gray;
    }
  }
}
