@import '../../../public/sass/config/_variables.scss';

.iconSuccess {
  color: $success-color;
}

.iconInfo {
  color: $info-color;
}

.iconWarning {
  color: $warning-color;
}

.iconError {
  color: $primary-color;
}
