
.iconError{
    color: #FF4D4F;
}
.iconWarning{
    color: #FAAD14;
}
.iconInfo{
    color: #1890FF;
}
.iconSuccess{
    color: #52C41A;
}

.modalStyle.ant-modal-content.ant-modal-header{
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}