@import '../../public/sass/config/_variables.scss';

.amount {
  margin-bottom: 0 !important;
  color: $primary-color !important;
}

.discount {
  display: block;
  margin-top: 3px;
}

.button {
  width: 180px;
}
