@import '../../public/sass/config/_variables.scss';

.amount {
  margin-bottom: 0 !important;
  color: $primary-color !important;
}

.discount {
  display: block;
  margin-top: 3px;
}

.btnGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  button {
    width: 100%;

    @media (min-width: 576px) {
      width: 180px;
    }
  }
}
