@import '../../public/sass/config/_variables.scss';

.header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $border-color;
}

.title {
  color: $primary-color !important;
  margin-bottom: 0 !important;
}

.box {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .imgContainer {
    position: relative;

    .imgWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: $background-light;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .tagRecommended {
      position: absolute;
      top: 1rem;
      left: 1rem;
      margin-right: 0;
    }

    .tagSell {
      position: absolute;
      top: 1rem;
      right: 1rem;
      margin-right: 0;
    }
  }

  .detailContainer {
    width: 100%;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    .dTitle {
      display: block;
    }

    .dAmount {
      display: block;
      color: $primary-color !important;
    }

    .dSold {
      display: block;
    }
  }

  .favorite {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: $text-gray;
    cursor: pointer;

    &:hover, &:focus {
      color: $primary-color;
    }
  }

  .favoriteSave {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: $primary-color;
    cursor: pointer;

    &:hover, &:focus {
      color: $text-gray;
    }
  }
}
