@import '../../../../public/sass/config/_variables.scss';

.link {
  text-decoration: underline !important;
  color: $secondary-color !important;

  &:hover,
  &:focus {
    color: $secondary-color-dark !important;
  }
}

.space {
  width: 100%;
  justify-content: center;
}

.modalFooterWrapper {
  margin: auto;
}

@media (min-width: 576px) {
  .modalBodyWrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .modalFooterWrapper {
    max-width: 50%;
  }
}
