@import '../../../../public/sass/config/variables';

.layout {
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  background-color: $background-light;

  .contentLayout {
    margin-left: 1.5rem;
  }

  .actionLayout {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0 !important;
    margin-left: auto;

    .clickable {
      cursor: pointer;

      &.disabled {
        cursor: default;
      }
    }

    .actionIcon {
      min-width: 40px;
    }
  }
}
