@import '../../../../public/sass/config/_variables.scss';

.cPrimary {
  color: $primary-color;
}

.space {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;

  @media (max-width: 575px) {
    div:nth-child(1) {
      flex: 1 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}

.sideImgContainer {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

.imgContainer {
  width: 100%;
  padding-top: 66.66%;
  position: relative;
}

.imgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
