/* -------------------------------------------
    Change Password
---------------------------------------------- */

.change-password {
  line-height: 2.15;
  .content {
    max-width: 330px;
    margin: 0 auto;
  }

  .title {
    font-size: 3rem;
    letter-spacing: -0.035em;
    color: $secondary-color;
  }
  p {
    font-family: $font-family;
    line-height: 2.15;
    letter-spacing: -0.017em;
    color: $text-grey;
    span {
      color: $secondary-color;
    }
    &:first-child {
      letter-spacing: -0.005em;
    }
    .link-to-tab {
      text-decoration: underline;
    }
  }
  .btn {
    &.btn-submit {
      width: 100%;
    }
  }

  label {
    display: block;
    padding-left: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1;
    color: $text-black;
  }
  .form-control {
    font-size: 1.3rem;
    font-family: $font-family;
    transition: background-color 0.3s, border-color 0.3s;
    color: $text-grey;
    border-radius: 0.3rem;
    &:focus {
      border-color: $dark-color;
    }
  }
}
