@import '../../public/sass/config/variables';

.page {
  .content {
    max-width: 330px;
    margin: 0 auto;

    .title {
      > h4 {
        color: $secondary-color;
      }
    }

    .description {
      color: grey;
    }
  }
}
