@import '../../public/sass/config/variables';

.page {
  max-width: 23.57rem;
  margin: 0 auto;

  .title {
    text-align: center;
    > h4 {
      color: $secondary-color;
    }
  }

  .description {
    color: grey;
  }
}
