@import '../../../../public/sass/config/_variables.scss';

.referenceWrapper {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: $background-light;
  text-align: center;
}

.reference {
  color: $primary-color-dark;
}

.edit {
  color: $secondary-color;
  cursor: pointer;
}
