@import '../../../../public/sass/config/variables';

.textSecondary {
  color: $secondary-color !important;
}

.uploadImg {
  width: auto;
}

.highlight {
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: $background-light;
  border-radius: $border-radius;
}

.radio {
  display: flex;

  label {
    flex: 1 50%;
    max-width: 50%;
  }
}

.binWrapper {
  position: relative;

  .bin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
    color: $info-color;
    cursor: pointer;
  }
}

.optionLabelBox {
  display: flex;

  .optionLabel {
    flex: 1;
  }

  .optionBin {
    cursor: pointer;
  }
}

.hiddenLabel {
  padding-bottom: 8px;

  &::after {
    content: '\00a0';
  }
}

.spaceTitle {
  display: block;
  padding-bottom: 8px;

  &::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}

.spaceBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .spaceLabel {
    flex: 1;
    white-space: nowrap;
  }

  .switchBox {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
      flex: 1 100%;
      justify-content: flex-end;
    }
  }
}
