@import '../../../public/sass/config/variables';

.padding5{
    padding: 5px;
} 
.paddingRight5   {
    padding-right: 5px;
}
.btnPrimary{
    background-color: $primary-color;
    color: #fff;
}
.textUnderline{
    color: $primary-color;
}
.textPrimary{
    color: $secondary-color !important;
}