@import '../../../../public/sass/config/variables';

.textPrimary {
  color: $primary-color;
}

.textSecondary {
  color: $secondary-color !important;
}

.textGrey {
  color: $grey-color;
}

.link {
  color: $info-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $info-color;
  }
}

.tableImage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tableText {
  display: block;
}

.table {
  td {
    vertical-align: top;
  }
}
