@import '../../../../public/sass/config/variables';

.textPrimary {
  color: $primary-color;
}

.textSecondary {
  color: $secondary-color !important;
}

.textGrey {
  color: $grey-color;
}

.column {
  float: left;
  padding: 0.5rem;
}

.row {
  &::after {
    display: table;
    clear: both;
  }
}
