@import '../../public/sass/config/variables';

.title {
  font-weight: bold;
}

.icon {
  color: #df1f29;
}

.iconWrapper {
  display: flex;
  align-items: center;
  height: 84px;
  padding: 1rem 2rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
