@import '../../../../public/sass/config/variables';

.textPrimary {
  color: $primary-color;
}

.textSecondary {
  color: $secondary-color !important;
}

.highlight {
  padding: 16px;
  margin-bottom: 1.5rem;
  background-color: $background-light;
  border-radius: $border-radius;

  @media (min-width: 768px) {
    padding: 16px 0;
  }
}

.hrTitleCol {
  border-bottom: 1px solid red;
}

.reviewContent {
  .reviewTitle {
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #f6f9fc;
    color: #a1a1a1;
    padding: 0.5rem;

    .miniAvatar {
      margin: 0 0.5rem;
    }
  }

  .avatarCol {
    padding: 1.2rem;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 5px;

    .avatarWrapper {
      display: flex;
      align-items: center;

      .avatarName {
        display: inline-block;
        max-width: 128px;
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .commentCol {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 1.2rem;

    .comment {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0.5rem 0;
    }
  }

  .replyCol {
    border-bottom-right-radius: 5px;
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 1.2rem;

    .reply {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  @media (max-width: 1199px) {
    width: 1024px;
  }
}
