@import '../../../../public/sass/config/variables';

.infoLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 140px;
  padding: 16px;
  background-color: $background-light;

  .infoLeftWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;

    .btnGroup {
      display: flex;
      gap: 1.5rem;

      button {
        width: 100%;
        max-width: 150px;
      }
    }
  }

  @media (max-width: 767px) {
    height: auto;
  }

  @media (max-width: 374px) {
    gap: 1rem;
    padding: 1rem;

    .infoLeftWrapper {
      .btnGroup {
        gap: 1rem;
      }
    }
  }
}

.infoRight {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 140px;
  padding: 16px;
  background-color: $background-light;

  .infoBox {
    display: flex;
    flex-direction: column;
    flex: 1 33.33%;
    max-width: calc(33.33% - 1rem);
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      border-right: 1px solid $border-color;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-top: 1rem;
    }
  }

  @media (max-width: 767px) {
    height: auto;

    .infoBox {
      flex: 1 50%;
      max-width: calc(50% - 1rem);

      &:nth-child(2),
      &:nth-child(4) {
        border-right: none;
      }

      &:nth-child(3) {
        margin-top: 1rem;
        border-right: 1px solid $border-color;
      }
    }
  }
}

.text {
  color: $primary-color;

  i {
    color: $text-gray;
  }
}

.dwrap {
  overflow: hidden;
  text-overflow: ellipsis;
}
