.hps-text-small {
  font-size: 12px;
}

.hps-scroll {
  overflow: auto;

  &::-webkit-scrollbar-track {
    background-color: $background-dark;
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $white-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 8px;
  }
}

.hps-link {
  color: $secondary-color !important;

  &:hover,
  &:focus {
    color: $secondary-color-dark !important;
  }
}

.hps-title {
  margin-bottom: 2.5rem !important;
  color: $secondary-color !important;
  text-align: center;
}

.hps-btn-secondary {
  color: $secondary-color;
  border-color: $secondary-color;

  &:hover,
  &:focus {
    color: $secondary-color-dark;
    border-color: $secondary-color-dark;
  }
}

.hps-switch {
  &.ant-switch-checked {
    background: $info-color;
  }
}

.hps-table {
  th {
    color: $primary-color !important;
    background-color: $white-color !important;
    border-color: $primary-color !important;

    &:hover,
    &:focus {
      background-color: $error-color-light !important;
    }
  }

  th,
  td {
    white-space: nowrap;
  }
}

.hps-rating {
  color: $warning-color;

  .ant-rate-star:not(:last-child) {
    margin-right: 2px;
  }
}

.setting-sidebar,
.main-sidebar {
  .ss-bar,
  .ms-bar {
    ul {
      overflow-x: hidden;

      &.ant-menu-root {
        border-right: 0 !important;
      }

      &.ant-menu-sub {
        background-color: $white-color !important;
      }

      .ant-menu-item {
        width: 100%;
      }

      li {
        color: $text-gray;

        div {
          &:hover,
          &:focus {
            color: $primary-color-dark !important;

            .ant-menu-submenu-arrow {
              color: $primary-color-dark !important;
            }
          }

          &.ant-menu-submenu-title {
            width: 100%;
          }
        }

        &.ant-menu-submenu-selected {
          div {
            color: $primary-color-dark !important;

            .ant-menu-submenu-arrow {
              color: $primary-color-dark !important;
            }
          }
        }

        &.ant-menu-item-selected {
          color: $primary-color;
          background-color: $white-color !important;

          &::after {
            display: none;
          }
        }
      }
    }

    .ss-close,
    .ms-close {
      display: none;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-size: 3rem;
      line-height: 1;
      animation: fadeIn 1s;
      cursor: pointer;

      span {
        color: $light-color;

        &:hover,
        &:focus {
          color: $white-color;
        }
      }
    }
  }

  .ss-bar {
    li {
      &:not(.ant-menu-submenu, .ant-menu-item-only-child) {
        border-bottom: 1px solid $border-color;
      }

      div {
        &.ant-menu-submenu-title {
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }

  .ms-bar {
    .ms-frame {
      .ms-frame-wrapper {
        height: 100%;
        border: 1px solid $border-color;

        .ms-label {
          width: 100%;
          background-color: $white-color;
          transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;

          h5 {
            padding: 0.5rem;
            margin: 0 1.5rem;
            border-bottom: 1px solid $border-color;
            color: $secondary-color !important;
          }
        }
      }
    }
  }

  .ss-open,
  .ms-open {
    display: none;
    position: fixed;
    top: 30%;
    left: 0;
    transform: translate(0, -30%);
    animation: fadeIn 0.5s;
    z-index: 2;

    button {
      background-color: rgba(33, 33, 33, 0.8);
      color: $white-color;
      border-color: rgba(33, 33, 33, 0.8);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover,
      &:focus {
        opacity: 0.9;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1199px) {
    &.ss-collapsed,
    &.ms-collapsed {
      .ss-bar,
      .ms-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        margin-left: -256px;
        transition: margin 0.5s;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
      }
    }

    .ss-bar {
      ul {
        width: 256px;
        height: 100%;
      }
    }

    .ms-bar {
      .ms-frame {
        width: 256px;
        height: 100%;
        padding: 1.5rem;
        background-color: $white-color;

        .ms-frame-wrapper {
          border: 1px solid $border-color;

          .ms-label,
          ul {
            width: 100%;
          }
        }
      }
    }

    &:not(.ss-active, .ms-active) {
      .ss-open,
      .ms-open {
        display: inline-block;
      }
    }

    &.ss-active,
    &.ms-active {
      .ss-bar,
      .ms-bar {
        display: inline;
        width: auto;
        margin-left: 0;
      }

      .ss-bar {
        ul {
          &.ant-menu-root {
            border-right: 1px solid $border-color !important;
          }
        }
      }

      .ss-close,
      .ms-close {
        display: inline-block;
      }
    }
  }
}
