@import '../../public/sass/config/variables';

.cError {
  color: $error-color;
}

.addressListHead {
  align-items: center;

  .highlightLabel {
    margin: 0;
    flex: 1;
  }
}

.wrapImageEmptyAddress {
  max-width: 308px;
}

.imgContainer {
  width: 100%;
  padding-top: 80%;
  position: relative;

  .imgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
