@import '../../../../public/sass/config/_variables.scss';
.padding5{
    padding: 5px;
}    
.btnPrimary{
    background-color: #DF1F29;
    color: #fff;
}
.textEmailTitle{
    color: #239CD7 !important;
}
.textEmail{
    color: #A7171F;
}