@import '../../../public/sass/config/variables';
@import '../../../public/sass/mixins/core';
@import '../../../public/sass/mixins/breakpoints';

.contentLayout {
  margin-bottom: 1.5rem;

  .balanceLabel {
    font-size: 12px;
    font-weight: 400;
    color: $text-black;
  }

  .balanceValue {
    font-size: 16px;
    font-weight: 600;
    color: $text-black;
  }

  .sectionTitle {
    margin-bottom: 0 !important;
    color: #239cd7 !important;
    text-align: left;
  }
}

.howToLayout {
  div:first-of-type {
    padding: 0;
  }
  .howToTitle {
    font-weight: 600;
  }

  li.howToItem {
    display: list-item;
    list-style-type: disc !important;
    padding: 4px 8px;
    margin-left: 20px;
  }
}

.topUpAmountSelectLayout {
  max-width: 330px;
  flex: 1;

  @include mq('sm', 'max') {
    max-width: unset;
    width: 100%;
  }
}
