@import '../../public/sass/config/_variables.scss';

.header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $border-color;
}

.title {
  color: $primary-color !important;
  margin-bottom: 0 !important;
}
