.authRegister {
  .link {
    text-decoration: underline;
  }

  .space {
    width: 100%;
    justify-content: center;
  }

  .sideImgContainer {
    width: 100%;
    padding-top: 150%;
    position: relative;

    .sideImgWrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
