@import '../../../../public/sass/config/variables';

.form {
  .addressDetails {
    > textarea {
      min-height: 80px;
      max-height: 80px;
    }
  }
}

.button {
  margin-top: 1.5rem;
}

.currentLocationButton {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.addressTagRadioButtonGroup {
  display: flex;
  column-gap: 16px;

  .addressTagRadioButton {
    border: unset !important;
    padding: unset;
  }
  label::before {
    display: none !important;
  }
}

.hintModal {
  .ant-modal-content {
    > div {
      .ant-modal-header {
        border-bottom: unset;
      }
      .ant-modal-footer {
        border-top: unset;
      }
    }
  }
}

.checkBoxLayout {
  width: 100%;
  .hint {
    padding: 0;
  }
}

.googleMapLayout {
  height: 453px;
}
