@import '../../../../../../public/sass/config/variables';

.textSecondary {
  color: $secondary-color !important;
}
.uploadImg {
  width: auto;
}
.highlight {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: $background-light;
  border-radius: $border-radius;

  @media (min-width: 768px) {
    padding: 1.5rem 0;
  }
}
.addNewProduct {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.hrTitleCol {
  border-bottom: 1px solid red;
}
