@import '../../../../public/sass/config/variables';

.layout {
  padding: 2rem;
  border: 1px solid $primary-color;
  border-radius: 4px;

  box-sizing: border-box;
  padding: 24px;

  .balanceLabel {
    font-size: 12px;
    font-weight: 400;
    color: $text-black;
  }
  .balanceValue {
    font-size: 16px;
    font-weight: 600;
    color: $text-black;
  }
  .button {
    min-width: 120px;
    > div {
      margin-right: 8px;
      > img {
        vertical-align: sub;
      }
    }
  }

  .topUpButton {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white-color;

    &:hover,
    &:focus {
      border-color: $primary-color;
    }
  }
}
