@import '../../../../public/sass/config/_variables.scss';

.cInfo {
  color: $info-color;
}

.searchWrapper {
  padding: 1.5rem;
  background-color: $background-light;

  .label {
    display: block;
    padding-bottom: 8px;
  }
}
