@import '../../../public/sass/config/variables';

.textPrimary {
  color: $primary-color;
}

.textSecondary {
  color: $secondary-color !important;
  &:hover,
  &:focus {
    color: $secondary-color-dark;
    border-color: $secondary-color-dark;
  }
}

