@import '../../public/sass/config/variables';

.cError {
  color: $error-color;
}

.addressListHead {
  border-left: 0.285rem solid $secondary-color;
  padding-left: 0.285rem;

  * {
    color: $secondary-color;
  }
}
