@import '../../public/sass/config/variables';

.title {
  > h4 {
    color: $secondary-color;
  }
}
.addressListHead {
  border-left: 4px solid $secondary-color;
  padding-left: 4px;

  * {
    color: $secondary-color;
  }
}

.addressList {
  margin-top: 16px;
}
