@import '../../public/sass/config/variables';

.page {
  line-height: 2.15;

  .content {
    max-width: 330px;
    margin: 0 auto;
  }

  .title {
    > h4 {
      color: $secondary-color;
    }
  }

  .addressList {
    margin-top: 16px;
  }
}

.buttonLayout {
  margin-top: 20px;
}
