@import '../../../public/sass/config/_variables.scss';
.widthMenu{
    width: 280px !important;
}
.paddingRight5   {
    padding-right: 5px;
}
.titleMenu{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 1rem;
    padding: 1rem 0;
}